<section class="lower-title">
  <h1 class="new">Welcome to the Arena</h1>
</section>

<section class="lower-title">
  <h2 class="new">Here you can fight with all sorts of magical creatures</h2>
</section>
