<!DOCTYPE html>
  <html lang ="en-GB">
    <head>
      <meta charset="utf-8">
      <link rel="stylesheet" type="text/css" href="styles.css">
      <title>The Arena</title>
    </head>
    <body>
      <section id="title-bar">
        <img id="title-photo" src="http://gladiatorsofthearena.org/images/Title1a.png" alt="Gladiators of the Arena logo">
      </section>
      <main>
        <%= yield %>
      </main>
    </body>
  </html>