<!DOCTYPE html>
  <html lang ="en-GB">
    <head>
      <meta charset="utf-8">
      <link href="https://fonts.googleapis.com/css?family=Cinzel:400,700" rel="stylesheet">
      <link rel="icon" href="/images/icon_1.png"/>

      <link rel="stylesheet" type="text/css" href="/styles.css">
      <title>The Arena</title>
    </head>
    <body>
      <section id="title-bar">
        <img id="title-photo" src="/images/gladiator_logo.png" alt="Gladiators of the Arena logo">
        <nav>
          <section class=nav-button-bar>
            <a class="nav-button" href="/">Home</a>
            <a class="nav-button" href="/creatures">Creatures</a>
            <a class="nav-button" href="/gladiators">Gladiators</a>
          </section>
        </nav>
      </section>
      <main>
        <%= yield %>
      </main>
    </body>
  </html>