<!DOCTYPE html>
  <html lang ="en-GB">
    <head>
      <meta charset="utf-8">
      <link rel="stylesheet" type="text/css" href="styles.css">
      <title>The Arena</title>
    </head>
    <body>
      <section class="title-bar">
        
      </section>
      <%= yield %>
    </body>
  </html>