body {
  background-color: #FFC44A;
}

.creatures {
  display: flex;
  font-size: 1em;
  flex-flow: row wrap;
  align-content: center;
  justify-content: space-between;
}

.profile {
  flex: 1;
  min-width: 200px;
  margin: 15px;
  border: 15px;
  padding: 15px;
  text-align: center;
}

.dragon {
  background-color: #720E07;
  color: white;
}

.lion {
  background-color: #E3B505;
}

.bear {
  background-color: #723500;
  color: white;
}