<form method="post" action="/gladiators/<%=@id%>">
  <label for="name-field">Name:</label>
  <input
  type="text"
  name="name"
  id="name-field"
  value="<%=@gladiator.name%>"
  />
  <input type="submit" value="Update Gladiator">
</form>