<section class="form-area">
  <form class="form" method="post" action="/gladiators/<%=@id%>">
    <label for="name-field">Name:</label>
    <input
    type="text"
    name="name"
    id="name-field"
    value="<%=@gladiator.name%>"
    />
    <label for="level-field">Level:</label>
    <input
    type="number"
    name="level"
    id="level-field"
    value="<%=@gladiator.level%>"
    />
    <input type="submit" value="Update Gladiator">
  </form>
  <article class="filler">
  </article>
</section>