<section class="form-area">
  <form class="form" method="post" action="/gladiators">
    <label for="name-field">Name:</label>
    <input
    type="text"
    name="name"
    id="name-field"
    required
    />
    <input type="submit" value="Add New Gladiator">
  </form>
  <article class="filler">
  </article>
</section>