<section class="form-area">
  <form class="form" method="post" action="/creatures/<%=@id%>/destroy">
    <label for="confirmation-selection">Are you sure?</label>
    <input type="submit" value="Delete Creature">
  </form>
  <article class="filler">
  </article>
</section>