<form method="post" action="/creatures/<%=@id%>">
  <label for="name-field">Name:</label>
  <input
  type="text"
  name="name"
  id="name-field"
  value="<%=@creature.name%>"
  />

  <label for="capture-date-field">Capture Date:</label>
  <input
  type="date"
  name="capture_date"
  id="capture-date-field"
  value="<%=@creature.capture_date%>"
  />

  <label for="fightable-field">Fightable:</label>
  <input
  type="radio"
  name="fightable"
  id="fightable-field"
  value="t"
  />Ready
  <input
    type="radio"
    name="fightable"
    id="fightable-field"
    value="f"
    checked
    />Not Ready
  <input type="submit" value="Update Creature">
</form>